body {
    background-color: #ffffff;

}

.navbar-brand {
    font-family: "Dancing Script";
    font-size: 60px;
}

.swim {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    
}

.image {
    padding-left: 95px;
}

.d-flex {padding-left: 250px; padding-right: 50px;}

.images {
    padding-left: 40px; align-items: first baseline;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    text-align: center;
}

.page-row {
    align-content: first baseline;
}

#accessories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    text-align: center;
}

.text {
    font-family: "Dancing Script";
    font-size: 55px;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}